<!DOCTYPE html>
<html>
<head>
        <title>Keeper</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script>
               
    function notifications() {
    var x = document.getElementById("show_matches");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
     </script>
    </head>
    
    
    <body>
           <button id="profile"><a href="/profile">Profile</a></button>
           <br>
           <div id="home_menu">
            <button onclick="notifications()">Be a Keeper - Activate or hide Match info</button>
           <br>
           <button><a href="/index/new">New Match</a></button>
           <br>
           <button><a href="/Wallet">Wallet</a></button>
           <br>
           <button><a href="/FAQ">FAQ and Chat</a></button>
           <br>
           <button><a href="/logout">Logout</a></button>
           </div>
           
           <div id="show_matches">
            <% matches.forEach(function(match){ %>
                <div class="col-md-3 col-sm-6">
                    <h4><%= match.adress %></h4>
                    <h4><%= match.time %></h4>
                    <h4><%= match.cellhphone %></h4>
                    <h4><%= match.description %></h4>
                    
                    <% if(currentUser && match.caller.id.equals(currentUser._id)){ %>
                        <form id="delete-form" action="/index/<%= match._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                        <% }%>
                <p>
                   <button>Accept!</button>
                </p>
                </div>
            <% }); %>
        </div>
    
    </body>
    </html>
